@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom variables */
:root{
    --maincolor: #85C2F0;
    --maincolor: #4877BD;
    --maincolorrgb: 133 194 240;
    --seccolor: #A8D1F0;
    --seccolor: #5B97F0;
}

p, input, textarea {
  font-family: "Noto Serif", sans-serif;
  font-size: 1rem !important;
  line-height: 1.5rem !important;
}


 h1,h2,h3,h4,h5,h6,span {
  font-family: "Montserrat", sans-serif;
}

a {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem !important;
}

@layer base {
  a {
    color: white;
  }
  body {
    background-color: hsla(243, 60%, 95%, 1);
  }
}

@layer utilities {
  .text-gradient {
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

/* ~~~~ Custom CSS - I know it's bad T_T ~~~~ */

/* Stop page  side scrolling on mobile */
html,
body {
  overflow-x: hidden;
}

/* Mobile Nav */
.pb-3 {padding-bottom: 0.75rem; display: flex; flex-direction: column; align-items: center;}

/* Footer background colour */
.footer.max-w-7xl.mx-auto.p-20.mt-10.rounded-xl {background: linear-gradient(90deg, #796a99, #554970);}

/* mobile dropdown background */
.md\:hidden {background-color: hsla(243, 60%, 95%, 1); border-radius: 0px 0px 10px 10px;}

/* blog read more arrows */
.w-3\.5 {padding-left: 5px;}

/* 404 page */ 
.\34 04-p {display: flex; flex-direction: column; align-items: center; padding: 40px 0px;}



/* My edits */


/* gradient colors */
.from-seccolor {
    --tw-gradient-from: var(--seccolor) var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(170 175 235 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.to-maincolor {
    --tw-gradient-to: var(--maincolor) var(--tw-gradient-to-position);
}

/* button colors */
.bg-main {
  --tw-bg-opacity: 1;
  background-color: var(--maincolor);
}

.border-main {
  --tw-border-opacity: 1;
  border-color: var(--maincolor);
}